---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Experiencia" sideBarActiveItemID="Experience">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Growth Director & Co-Founder"
      subtitle="Vehement Agency. 2017 to Actual, Bogotá, Colombia"
    >
      He liderado equipos multidisciplinares gestionando clientes simultáneos
      con presupuestos de hasta $40,000 USD mensuales. Implementé estrategias
      para clientes B2B y B2C en sectores Servicios, Retail, E-commerce y Tech,
      desarrollando productos desde la idea hasta la implementación. <br /><br
      />

      - Incremento de leads hasta 300%, ventas hasta 60% y optimicé CTR de
      campañas de 3% a +10% <br />
      - Reduje CAC en 50% y aumenté ROI en +70% mediante estrategias data-driven
      y automatización <br />
      - Llevé casos de 0 a 100 ventas/mes en 3 meses<br /><br />
    </TimeLineElement>
    <TimeLineElement
      title="Founder & Product Manager"
      subtitle="Hazlo LATAM. 2022 to 2024, Bogotá, Colombia"
    >
      Fundé y desarrollé la comunidad de emprendimiento con 1,500+ miembros.
      Ejecuté metodología Lean Startup para validar y construir MVPs,
      acompañando emprendedores y startups desde la conceptualización hasta
      modelos de negocio escalables. <br /><br />
      - Construí audiencia de 0 a 500 usuarios en 1 semana y adquirí 10 clientes
      en 2 días mediante estrategias de growth hacking <br />
      - Desarrollé la plataforma Hazlo con tecnología No-Code en 2 semanas, iterando
      hasta versión 5.0 con metodologías ágiles y feedback continuo <br />
      - Acompañé +80 proyectos publicados en plataforma, logrando 80% de conversión
      idea-a-MVP y 90% de tasa de validación exitosa<br /><br />
    </TimeLineElement>
    <TimeLineElement
      title="Data Business Analytics"
      subtitle="DIAGEO. From 2015 to 2016 at Diage, Bogotá, Colombia"
    >
      Apoyé la toma de decisiones estratégicas mediante análisis de datos y
      modelos de negocio. Optimicé la interpretación de métricas de ventas y
      marketing para identificar oportunidades de crecimiento en el mercado.
      Lideré el desarrollo de la plataforma de manejo de stock para Colombia y
      Venezuela. <br /><br />
      
      - Optimicé interpretación de métricas de ventas identificando
      oportunidades de crecimiento que generaron +20% en revenue adicional <br />
      - Desarrollé plataforma de gestión de stock para Colombia y Venezuela,
      reduciendo pérdidas por inventario en 30%<br /><br />
    </TimeLineElement>
  </div>


</BaseLayout>
