---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Hernán Estupiñán</div>
    <div class="text-3xl py-3 font-bold">B2B Growth Specialist</div>
    <div class="py-2">
      <text class="text-lg">
        <b>Growth Marketing Specialist</b> with over 10 years of experience building
        B2B and B2C strategies that drive sustainable growth. <b>Expert in leading
        multidisciplinary teams</b> toward transforming ideas into profitable
        digital products, combining product marketing, process automation, and
        high-conversion lead generation. My strength lies in translating
        technical and data insights into <b>executable commercial strategies
        through agile methodologies and data-driven approach</b>, scaling businesses
        from MVPs to multinational operations with a customer-centric vision.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/abouthernan" target="_blank">
        Let's Talk!</a
      >
      <a
        href="https://www.canva.com/design/DAGx4dU2aao/4Bn2FHkyeWvDvzaVZtgiIw/view?utm_content=DAGx4dU2aao&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=he3bd5544a6"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Download Resume
      </a>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>-->

  <!-- 

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>-->

 <!--  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }-->
</BaseLayout>
