---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="siklls">

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Liderazgo</li>
    <li>Ejecución</li>
    <li>Negociación</li>
    <li>Gest. de Proyectos</li>
    <li>Com. Asertiva</li>
    <li>Escucha Activa</li>
    <li>Adaptabilidad</li>
    <li>Accountability</li>
    <li>Customer Centric</li>
    <li>UX / UI</li>
    <li>Agile</li>
    <li>Team Building</li>
    <li>SEO</li>
    <li>SEM</li>
    <li>Funell</li>
    <li>FlyWheel</li>
    <li>Salesforce</li>
    <li>Sales Navigator</li>
    <li>Outreach</li>
    <li>Hubspot</li>
    <li>n8n</li>
    <li>Make</li>
    <li>Analytics</li>
    <li>Meta</li>
    <li>GAds</li>
    <li>Tik Tok Ads</li>
    <li>Linkedin Ads</li>
    <li>Apolo</li>
    <li>Tag Manager</li>
    <li>Google Data Studio</li>
    <li>Hotjar</li>
    <li>PorterMetrics</li>
    <li>Bubble</li>
    <li>Bolt</li>
    <li>V0</li>
    <li>Cursor</li>
    <li>Notion</li>
    <li>Jira</li>
    <li>Asana</li>
    <li>Lovable</li>
    <li>Github</li>
    <li>Supabase</li>
    <li>Claude</li>
    <li>Webflow</li>
    <li>Wordpress</li>
    <li>Jumseller</li>
    <li>Shopify</li>
    <li>Figma</li>
    <li>Survey Monkey</li>
    <li>Typeform</li>
  </ul>
</BaseLayout>
