---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Herramientas" sideBarActiveItemID="Tools">
 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Stack </div>
  </div>

  Growth Stack: <br /><br />

<b>Analytics & Attribution:</b> PorterMetrics,Google Analytics 4, G Data Studio, Hotjar, UTM tracking, Tag Manager<br />
<b>Marketing Automation:</b> HubSpot, SalesForce, S. Navegator, Pipedrive, Mailchimp, Loops, n8n, ActiveCampaign, Apollo<br />
<b>A/B Testing:</b> Optimizely, Google Optimize, Mailchimp, Hubspot<br />
<b>Social & Ads:</b> Meta Business, Google Ads, LinkedIn Ads Manager<br />
<b>SEO/Content:</b> Semrush, Ahrefs, Screaming Frog<br /><br />

Product Stack:<br /><br />

<b>Design & Prototyping:</b> Stitch, Figma, Canva, Adobe Creative Suite<br />
<b>Development:</b> React, Next.js, TypeScript, Tailwind CSS, Astro<br />
<b>No-Code/Low-Code:</b> Bubble, Webflow, Adalo, Notion, Airtable, V0<br />
<b>Project Management:</b> Notion, Jira, Slack, Trello, Twist<br />
<b>Data & Analytics:</b> PorterMetrics, SQL, Google Data Studio, Amplitude<br /><br />


</BaseLayout>
