---
import LanguageSelector from "./LanguageSelector.astro";
const { currentLang, currentPath } = Astro.props;
---

 
 <!-- Selector de idioma solo en desktop -->
    <div class="hidden lg:block w-fit mx-auto mb-4">
      <LanguageSelector currentLang={currentLang} currentPath={currentPath} />
    </div>


